<!DOCTYPE html>
<html>
<head>
</head>
<body>
<strong>Imie:</strong>&nbsp;<div>{{ data['firstname'] }}</div>
<strong>Nazwisko:</strong>&nbsp;<div>{{ data['lastname'] }}</div>
<strong>Email:</strong>&nbsp;<div>{{ data['email'] }}</div>
<strong>Numer tel.:</strong>&nbsp;<div>{{ data['phone'] }}</div>
<strong>Wiadomość:</strong>&nbsp;<div>{{ data['message'] }}</div>
</body>
</html>
